.Header {
  display: flex;
  align-items: center; /* يحاذي الأيقونة والنص عموديًا */
  background-color: black;
  height: 80px;
  padding: 0 20px;
}

.icon-countainer {
  display: flex;
  align-items: center;
  justify-content: end;
  /* background-color: aqua; */
  width: 10%;
  height: 80px;
}

.web-name-countainer {
  color: white;
  padding-left: 30px;
}